body {
    background-color: white;
}

.app {
    display: flex;
}
.app div {
    background-color: red;
    padding: 4px 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
div[data-item="button"] {
    background-color: goldenrod;
    padding: 3px 10px;
    display: inline;
    cursor: pointer;
}
input {
    margin-bottom: 10px;
}

