@import "./main.scss";

body {
    background-color: white;
}

.app {
    display: flex;
}
.app div {
    background-color: red;
    padding: 4px 10px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
div[data-item="button"] {
    background-color: goldenrod;
    padding: 3px 10px;
    display: inline;
    cursor: pointer;
}
input {
    margin-bottom: 10px;
}

.block__registration {
    padding: 20px 20px;
    background-color: rgba(0,0,0, 0.02);
    box-shadow: 0 0 10px 3px rgba(0,0,0, 0.2);
    border-radius: 9px;
}

.block__login {
    padding: 20px 20px;
    background-color: rgba(0,0,0, 0.02);
    box-shadow: 0 0 10px 3px rgba(0,0,0, 0.2);
    border-radius: 9px;
}


.header {
   margin-bottom: 50px;
}

.navbar-nav {
    height: 100%;
}
